@use '../util/' as u;

button.btn {
    width: 100%;
    padding: u.rem(20) 0;
    background-color: var(--button-color);
    border: none;
    border-radius: 3px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: all ease-in-out 150ms;

    &:hover, &:active {
        background-color: #16db9983;
        color: #3c3c3c;
    }
}