@use '../util/' as u;

header {
    padding: u.em(40) u.em(20) u.em(60);
    background:
        var(--light-gray)
        url("../../images/mj-tangonan-CAUgg2lxRk0-unsplash.jpg")
        no-repeat
        center;
        
    background-size: cover;
    
    .title {
        color: whitesmoke;
        text-shadow: 0 0 1px black;
    }

    p {
        font-size: u.rem(18);
        width: 33%;
        line-height: 80%;
    }
}