@use '../util/' as u;

header {
    width: 100%;
    height: u.em(200);
    padding: u.rem(40) u.rem(20);
    background:
        black
        url("../../images/mj-tangonan-CAUgg2lxRk0-unsplash.jpg")
        no-repeat
        center;
        
    background-size: cover;
    
    .title {
        color: whitesmoke;
        text-shadow: 0 0 1px black;
    }

    p {
        font-size: u.rem(18);
        width: 33%;
        line-height: 80%;
    }
}